.block, .inline {
  border: 2px solid gray;
  padding: 10px;
}
#paragraph-element {
/*   background: skyblue; */
}
#span-element {
  background-color: orange;
}

/* INSTRUCTIONS */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}